#world {
  .news {
    padding: 61px 0 50px;
  }
}

.news {
  padding: 0px 0 50px;
  margin-bottom: 2em;
  &__type {
    background-color: $info;
    margin-bottom: 1em;
    &-title {
      margin: 0;
      padding: 0.7em;
    }
  }

  &__main {
    width: 100%;

    .card {
      height: 100%;
      border: none;

      &-title {
        margin-bottom: 0;
      }

      &-body {
        padding: 10px 0 0;
        margin-bottom: 1em;
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      top: auto;
      left: 0;
      bottom: -10%;
      right: auto;
      width: 30px;
      height: 30px;
    }

    .carousel-control-next {
      left: 10%;
    }
  }

  &__info {
    color: $dark;
    font-size: 12px;
    margin-bottom: 1em;
  }

  &__date,
  &__num-comments,
  &__num-views {
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 0px 3.5px;
    padding-left: 15px;
  }

  &__date {
    background-image: url('../../img/icons/clock.svg');
  }

  &__num-comments {
    background-image: url('../../img/icons/bubbles4.svg');
  }

  &__num-views {
    background-image: url('../../img/icons/eye.svg');
  }
}
