$primary: #03417f !default;
$secondary: #162b4c !default;
$success: #00876e !default;
$info: #e0d2b5 !default;
$warning: #bb675a !default;
$danger: #7f2736 !default;
$light: #ddd7c7 !default;
$dark: #3b556b !default;
